<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance http://www.w3.org/2001/XMLSchema-instance"
		 xmlns="http://java.sun.com/xml/ns/javaee http://www.springframework.org/schema/beans" 
		 xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
		 xmlns:context="http://www.springframework.org/schema/context"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd
		 http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd" 
		 id="WebApp_ID" 
		 version="3.0">  
<display-name>Spring_Servler_test</display-name>
<!-- Spring -->
<context-param>
<param-name>contextConfigLocation</param-name>
<param-value>/WEB-INF/applicationContext.xml</param-value>
</context-param>

<listener>
<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
</listener>


<!-- Servlet -->
<servlet>
<servlet-name>Servlet1Service</servlet-name>
<servlet-class>com.spring_servlet.test.proxy.ServletToBeanProxy</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Servlet1Service</servlet-name>
<url-pattern>/servlet1</url-pattern>
</servlet-mapping>

</web-app>